<ion-content color="primary">
  <!-- HEAD TOOLBAR-->
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center">
      <h1>Bienvenido</h1>
    </ion-title>
  </ion-toolbar>
  <!-- DIV WOMAN-->
  <div class="genre" routerLink="/categories" routerDirection="forward">
    <img [src]="logo" />
    <ion-text class="ion-text-center"><h3 class="sexe">Al Quadrado solo hay uno!</h3></ion-text>
  </div>
  <!-- DIV MAN-->
  <!--div class="genre" routerLink="/home/man" routerDirection="forward">
    <img [src]="man" />
    <ion-text class="ion-text-center"><h4 class="sexe">Man</h4></ion-text>
  </div-->
  <br>
</ion-content>

<!-- FOOTER -->
<ion-footer  class="ion-no-border">
  <p align="center" class="text-bottom">
    Al Quadrado Pizza Delivery
  </p>
</ion-footer>
