<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item  class="item-font" routerLink="/home/man" routerDirection="forward">
            <ion-icon class="item-color" name="home" slot="start"></ion-icon>
            <ion-label class="item-font item-color">Home</ion-label>
          </ion-item>
          <ion-item  class="item-font" routerLink="/categories" routerDirection="forward">
            <ion-icon class="item-color" name="grid" slot="start"></ion-icon>
            <ion-label class="item-font item-color">Categorias</ion-label>
          </ion-item>
          <!--ion-item class="item-font" routerLink="/collections" routerDirection="forward">
            <ion-icon class="item-color" name="color-filter" slot="start"></ion-icon>
            <ion-label class="item-font item-color">Collections</ion-label>
          </ion-item-->
          <ion-item class="item-font" routerLink="/cart" routerDirection="forward">
            <ion-icon class="item-color" name="cart" slot="start"></ion-icon>
            <ion-label class="item-font item-color">Carrito</ion-label>
          </ion-item>
          <!--<ion-item  class="item-font" routerLink="/profil" routerDirection="forward">
            <ion-icon class="item-color" name="person-circle" slot="start"></ion-icon>
            <ion-label class="item-font item-color">My Profil</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon class="item-color" name="lock-closed" slot="start"></ion-icon>
            <ion-label class="item-font item-color">Privacy</ion-label>
          </ion-item>
          <ion-item class="item-font" routerLink="/signup" routerDirection="forward">
            <ion-icon class="item-color" name="download" slot="start"></ion-icon>
            <ion-label class="item-font item-color">Sign Up</ion-label>
          </ion-item>
          <ion-item  class="item-font" routerLink="/login" routerDirection="forward">
            <ion-icon class="item-color" name="log-out" slot="start"></ion-icon>
            <ion-label class="item-font item-color">Log In</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon class="item-color" name="power" slot="start"></ion-icon>
            <ion-label class="item-font item-color">Log Out</ion-label>
          </ion-item>-->
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-text class="item-font item-color" style="display: flex; justify-content: center; margin: 0 auto;"><h5>&copy; 2022 Al Quadrado Pizza Delivery</h5></ion-text>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
