@import '../../app.component';

ion-text{
  line-height: 20px;
}

ion-title {
  font-family: kenyancoffeebd;
}

h2, h3 {
  font-family: kenyancoffeebd;
  font-size: 1.6rem;
}

p {
  font-family: kenyancoffeerg;
  font-size: 1.5rem;
}

.warning-color {
  color: #ffc300;
}