<!--<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start" (click)="openMenu()">
        <ion-icon size="large" name="menu"></ion-icon>
    </ion-buttons>
      <ion-title class="ion-text-center">
        <h1>Categorías</h1>
      </ion-title>
      <ion-buttons slot="end" routerLink="/cart" routerDirection="forward">
        <ion-icon size="large" name="cart"></ion-icon>
        <ion-badge color="danger">2</ion-badge>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
    <div *ngFor="let d of data"  
    style=" background-image: url({{d.img}});
            background-position: center;
            position: relative; border-radius: 15px; 
            height: 120px; width: 100%;
            margin-top: 5px;"
            routerLink="/list/{{ d.urlName }}" routerDirection="forward">
        <div class="layer">
        </div>
        <h2>{{ d.name }}</h2>
    </div>

</ion-content>-->

<!--<ion-header class="background-header">
</ion-header>-->

<ion-header>
  <div class="header-image-container">
    <ion-toolbar color="transparent">
    <ion-buttons class="ion-padding-end" slot="start">
      <ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons class="ion-padding-end" slot="end"  routerLink="/cart" routerDirection="forward">
        <ion-icon size="large" color="light" name="search-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
    <img class="header-image-container__image" src="../../../assets/imgs/background/background-imag.JPG">
    <div class="logo-container">
      <div class="logo-container__logo">
      </div>
    </div>
  </div>




  <!--div class="header-img2">

  </div-->

  <!--Old-->
  <!--ion-toolbar>
    <ion-buttons class="ion-padding-end" slot="start">
      <ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center" color="light">
        Product name
    </ion-title>
    <ion-buttons class="ion-padding-end" slot="end"  routerLink="/cart" routerDirection="forward">
        <ion-icon size="large" color="light" name="search-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar-->
</ion-header>

<ion-content>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

</ion-content>