@import '../../app.component';
/*ion-card-header{
    margin-top: -80px;
    position: absolute;
    display: flex;
    justify-content: center;
}*/

/*h2{
    color: white;
    text-align: center;
    position: relative;
    top: 7vh;
}*/

.layer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

ion-title, h2 {
    font-family: kenyancoffeebd;
    /*color: #ffc300;*/
}

.header-grid {
    padding: 0px;
}

.header-image-container__image {
    position: relative;
    width: 100%;
    object-fit: contain;
}

@media (min-width: 747px) {

    .header-image-container {
        text-align: center;
        background-color: var(--ion-color-primary);
    }

    .header-image-container__image {
        width: auto;
    }
}

.logo-container {
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 5rem;
    height: 5rem;
    -ms-transform: translate(-50%, 80%);
    transform: translate(-50%, 80%);
}

@media (max-width: 600px) {
    .header {
        margin: 2.5rem 0px 2.5rem 0px;
        /*padding: 0px 0px 1rem 0px;*/
        box-shadow: none;
    }
}

.logo-container__logo {
    background-image: url("../../../assets/imgs/logos/logo_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

ion-toolbar {
    position: absolute;
}

@media (min-width: 600px) {
    .logo-container {
        width: 10rem;
        height: 10rem;
    }

    .header {
        margin: 4.5rem 0px 2.5rem 0px;
        box-shadow: none;
    }
}

ion-card {
    box-shadow: none;
}

ion-card-content {
    margin-top: 5px;
}

ion-card-content > span {
    padding-right: 1rem;
}

ion-icon {
    padding-right: 0.2rem;
}

ion-grid {
    padding: 1rem;
}

h2 {
    font-size: 24;
    font-family: var(--ion-font-family);
}

ion-row.pizzas-container > ion-col > ion-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    ion-row.pizzas-container > ion-col > ion-card {
        margin-right: 1rem;
    }
}

.pizzas-container__title {
    font-size: 1rem; 
    font-weight: 700;
}

.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0px;
}

.pizzas-container__description--truncate-two-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.pizzas-container__price {
    position: absolute; 
    bottom: 12px; 
    left: 5px;
    justify-content: space-between;
    font-weight: 900;
}

.pizzas-container__image {
    height: 100%;
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

ion-slides {
    margin-bottom: 28px;
}

ion-slide {
    width: auto !important;
    margin-right: 1rem;
}