<!--<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start" (click)="openMenu()">
        <ion-icon size="large" name="menu"></ion-icon>
    </ion-buttons>
      <ion-title class="ion-text-center">
        <h1>Categorías</h1>
      </ion-title>
      <ion-buttons slot="end" routerLink="/cart" routerDirection="forward">
        <ion-icon size="large" name="cart"></ion-icon>
        <ion-badge color="danger">2</ion-badge>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
    <div *ngFor="let d of data"  
    style=" background-image: url({{d.img}});
            background-position: center;
            position: relative; border-radius: 15px; 
            height: 120px; width: 100%;
            margin-top: 5px;"
            routerLink="/list/{{ d.urlName }}" routerDirection="forward">
        <div class="layer">
        </div>
        <h2>{{ d.name }}</h2>
    </div>

</ion-content>-->

<!--<ion-header class="background-header">
</ion-header>-->

<!--ion-header>
  <div class="header-image-container">
    <ion-toolbar color="transparent">
      <ion-buttons class="ion-padding-end" slot="start">
        <ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
      </ion-buttons>
      <ion-buttons class="ion-padding-end" slot="end"  routerLink="/cart" routerDirection="forward">
        <ion-icon size="large" color="light" name="search-outline"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
      <img class="header-image-container__image" src="../../../assets/imgs/background/background-imag.JPG">
    <div class="logo-container">
      <div class="logo-container__logo">
      </div>
    </div>
  </div>
</ion-header-->

<ion-content>
  <!--ion-card class="header">
    <ion-card-header>
      <ion-card-title>Al Quadrado Pizza</ion-card-title>
      <ion-card-subtitle>PIZZA - ITALIANO - POSTRES</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-icon name="time-outline"></ion-icon><span>11:30AM - 9PM </span><ion-icon name="star-outline"></ion-icon><span>5</span><ion-icon name="bicycle-outline"></ion-icon><span>30min</span>
    </ion-card-content>
  </ion-card-->

  <ion-grid class="header-grid">
    <ion-row>
      <ion-col>
        <div class="header-image-container">
          <ion-toolbar color="transparent">
            <ion-buttons class="ion-padding-end" slot="start">
              <ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
            </ion-buttons>
            <ion-buttons class="ion-padding-end" slot="end"  routerLink="/cart" routerDirection="forward">
              <ion-icon size="large" color="light" name="search-outline"></ion-icon>
            </ion-buttons>
          </ion-toolbar>
            <img class="header-image-container__image" src="../../../assets/imgs/background/background-imag.JPG">
          <div class="logo-container">
            <div class="logo-container__logo">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="header">
          <ion-card-header>
            <ion-card-title>Al Quadrado Pizza</ion-card-title>
            <ion-card-subtitle>PIZZA - ITALIANO - POSTRES</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-icon name="time-outline"></ion-icon><span>11:30AM - 9PM </span><ion-icon name="star-outline"></ion-icon><span>5</span><ion-icon name="bicycle-outline"></ion-icon><span>30min</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-slides [options]="opts">
      <ion-slide>
        <ion-button (click)="scrollToLabel('iconicos')">
          Icónicos
        </ion-button>
      </ion-slide>
      <ion-slide>
        <ion-button (click)="scrollToLabel('entradas')">
          Entradas
        </ion-button>
      </ion-slide>
      <ion-slide>
        <ion-button (click)="scrollToLabel('especialidades')">
          Especialidades Al Quadrado
        </ion-button>
      </ion-slide>
    </ion-slides>

    <h2 id="iconicos">ICÓNICOS</h2>
    <ion-row class="pizzas-container">
      <ion-col size="6" size-xs="12" size-sm="12" size-md="12" size-lg="6">
        <ion-card>
          <ion-row justify-content-between>
            <ion-col style="position: relative">
              <ion-row text-wrap>
                <div class="pizzas-container__title"><span>Pizza Margarita + 1 Ingrediente Adicional Incluido</span></div>
              </ion-row>
              <ion-row text-wrap>
                <div class="pizzas-container__description--truncate-two-lines">Pizza 40 x 40. Salsa nápole + mozzarella.</div>
              </ion-row>
              <ion-row text-wrap>
                <div class="pizzas-container__price">$9.00</div>
                <!--div style="position: absolute; bottom: 0px; right: 5px;"><ion-icon size="large" name="add-circle"></ion-icon></div-->
              </ion-row>
            </ion-col>
            <ion-col size="sm" col-auto>
              <img class="pizzas-container__image" src="../../../assets/imgs/iconicos/pizza_margarita_ingrediente_adic.jpg" item-left/>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-xs="12" size-sm="12" size-md="12" size-lg="6">
        <ion-card>
          <ion-row justify-content-between>
            <ion-col style="position: relative">
              <ion-row text-wrap>
                <div class="pizzas-container__title"><span>Pizza 4 Estaciones</span></div>
              </ion-row>
              <ion-row text-wrap>
                <div class="pizzas-container__description--truncate-two-lines">Pizza 40 x 40. Unión de 4 pizzas: Pepperoni + Vegetariana +
                  Primavera + Margarita.
                </div>
              </ion-row>
              <ion-row text-wrap>
                <div class="pizzas-container__price">$12.00</div>
                <!--div style="position: absolute; bottom: 0px; right: 5px;"><ion-icon size="large" name="add-circle"></ion-icon></div-->
              </ion-row>
            </ion-col>
            <ion-col size="sm" col-auto>
              <img class="pizzas-container__image" src="../../../assets/imgs/iconicos/pizza_4_estaciones.jpg" item-left/>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <h2 id="entradas">ENTRADAS</h2>
    <ion-row class="pizzas-container">
      <ion-col size="6" size-xs="12" size-sm="12" size-md="12" size-lg="6">
        <ion-card>
          <ion-row justify-content-between>
            <ion-col style="position: relative">
              <ion-row text-wrap>
                <div class="pizzas-container__title"><span>Pepperoni Cheese Rolls</span></div>
              </ion-row>
              <ion-row text-wrap>
                <div class="pizzas-container__description--truncate-two-lines">6 Enrollados de pepperoni + Queso mozzarella perfectamente horneados +
                  Salsa Al Quadrado para untar.
                </div>
              </ion-row>
              <ion-row text-wrap>
                <div class="pizzas-container__price">$6.00</div>
                <!--div style="position: absolute; bottom: 0px; right: 5px;"><ion-icon size="large" name="add-circle"></ion-icon></div-->
              </ion-row>
            </ion-col>
            <ion-col size="sm" col-auto>
              <img class="pizzas-container__image" src="../../../assets/imgs/entradas/pepperoni_cheese_rolls.JPG" item-left/>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-xs="12" size-sm="12" size-md="12" size-lg="6">
        <ion-card>
          <ion-row justify-content-between>
            <ion-col style="position: relative">
              <ion-row text-wrap>
                <div class="pizzas-container__title"><span>Cheese Stick</span></div>
              </ion-row>
              <ion-row text-wrap>
                <div class="pizzas-container__description--truncate-two-lines">10 Deliciosos sticks rellenos y gratinados + Abundante queso mozzarella +
                  + Cheddar + Pecorino + Mantequilla de ajo + Salsa Al Quadrado para untar.
                </div>
              </ion-row>
              <ion-row text-wrap>
                <div class="pizzas-container__price">$7.00</div>
                <!--div style="position: absolute; bottom: 0px; right: 5px;"><ion-icon size="large" name="add-circle"></ion-icon></div-->
              </ion-row>
            </ion-col>
            <ion-col size="sm" col-auto>
              <img class="pizzas-container__image" src="../../../assets/imgs/entradas/cheese_sticks.JPG" item-left/>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-xs="12" size-sm="12" size-md="12" size-lg="6">
        <ion-card>
          <ion-row justify-content-between>
            <ion-col style="position: relative">
              <ion-row text-wrap>
                <div class="pizzas-container__title"><span>Chistobites</span></div>
              </ion-row>
              <ion-row text-wrap>
                <div class="pizzas-container__description--truncate-two-lines">Bites rellenos de chistorra + Queso crema +
                  Salsa Al Quadrado para untar.
                </div>
              </ion-row>
              <ion-row text-wrap>
                <div class="pizzas-container__price">$7.00</div>
                <!--div style="position: absolute; bottom: 0px; right: 5px;"><ion-icon size="large" name="add-circle"></ion-icon></div-->
              </ion-row>
            </ion-col>
            <ion-col size="sm" col-auto>
              <img class="pizzas-container__image" src="../../../assets/imgs/entradas/chistobites.JPG" item-left/>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col size="6" size-xs="12" size-sm="12" size-md="12" size-lg="6">
        <ion-card>
          <ion-row justify-content-between>
            <ion-col style="position: relative">
              <ion-row text-wrap>
                <div class="pizzas-container__title"><span>Al Quadrado Chicken Wings</span></div>
              </ion-row>
              <ion-row text-wrap>
                <div class="pizzas-container__description--truncate-two-lines">12 Alitas pollo BBQ + Papas fritas.
                </div>
              </ion-row>
              <ion-row text-wrap>
                <div class="pizzas-container__price">$7.00</div>
                <!--div style="position: absolute; bottom: 0px; right: 5px;"><ion-icon size="large" name="add-circle"></ion-icon></div-->
              </ion-row>
            </ion-col>
            <ion-col size="sm" col-auto>
              <img class="pizzas-container__image" src="../../../assets/imgs/entradas/chicken_wings.JPG" item-left/>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <h2 id="especialidades">ESPECIALIDADES AL QUADRADO</h2>
    <ion-row class="pizzas-container">
      <ion-col size="6" size-xs="12" size-sm="12" size-md="12" size-lg="6">
        <ion-card>
          <ion-row justify-content-between>
            <ion-col style="position: relative">
              <ion-row text-wrap>
                <div class="pizzas-container__title"><span>Pizza Montserratina</span></div>
              </ion-row>
              <ion-row text-wrap>
                <div class="pizzas-container__description--truncate-two-lines">Pizza 40 x 40. Queso mozarella + Salsa nápole + Chorizo de ajo
                  + Chorizo ahumado + Chistorra + Cebolla + Pimentón.
                </div>
              </ion-row>
              <ion-row text-wrap>
                <div class="pizzas-container__price">$14.00</div>
                <!--div style="position: absolute; bottom: 0px; right: 5px;"><ion-icon size="large" name="add-circle"></ion-icon></div-->
              </ion-row>
            </ion-col>
            <ion-col size="sm" col-auto>
              <img class="pizzas-container__image" src="../../../assets/imgs/iconicos/pizza_montserratina.jpg" item-left/>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>